.bg-primary {
  background-color: var(--primary-col);
}
.text-primary {
  color: var(--primary-col);
}

.bg-gray-col{
  background-color: var(--gray-col)
}

.bg-dark-gray-col{
  background-color: var(--dark-gray-col)
}

.white {
  color: white;
}

.error-col{
  color: var(--error-col);
}