.font-bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.text-sm {
  font-size: var(--font-size-sm);
}
.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}
.underline {
  text-decoration: underline;
}

.flex{
  display: flex;
}

.row{
  flex-direction: row;
}

.column{
  flex-direction: column;
}

.center{
  justify-content: center;
  align-items: center;
}
.justify-center{
  justify-content: center;
}

.justify-start{
  justify-content: start;
}

.space-around{
  justify-content: space-around;
}

.space-between{
  justify-content: space-between;
}

.space-evenly{
  justify-content: space-evenly;
}

.align-center{
  align-items: center;
}

.align-start{
  align-items: start;
}

.wrap{
  flex-wrap: wrap;
}

.no-style{
  list-style: none;
}

.radius-10{
  border-radius: 10px;
}

.padding-7-15{
  padding: 7px 15px;
}

.no-bor{
  border: none;
}

.no-outln{
  outline: none;
}

.gap-10{
  gap: 10px;
}

.hidden{
  display: none;
}

.invisible{
  visibility: hidden;
}
