.map-container {
  border-right: 1px solid black;
  border-left: 1px solid black;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 80px;
  position: relative;
}

.map-wrapper {
  padding: 20px;
  border-radius: 10px;
}

.nearest-station {
  position: absolute;
  top: 85px;
  right: 0;
  transform: translateX(-50%);
  max-width: 260px;
  z-index: 1;
  background-color: #5050505d;
  border-radius: 10px;
  overflow: hidden;
}
.nearest-station > img {
  width: 100%;
  max-height: 320px;
  object-fit: cover;
}
.nearest-station .content {
  padding: 20px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.nearest-station .close-icon {
  width: 44px;
  filter: invert();
  position: absolute;
  top: 10px;
  right: 10px;
}

.map-search-wrapper {
  position: absolute;
  top: 85px;
  left: 0;
  transform: translateX(50%);
  z-index: 1;
}

.map-search > input {
  padding: 6px 10px 6px 35px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #5050505d;
  color: white;
}

.map-search {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.marker-text {
  font-size: 12px;
  position: absolute;
  left: 29px;
  top: -25px;
  transform: translateX(-50%);
  min-width: max-content;
  word-break: keep-all;
}

.outer-marker {
  position: relative;
}

.search-result {
  width: 100%;
  padding: 10px;
  /* background-color: white; */
  border-radius: 10px;
  gap: 10px;
}

@media (max-width: 1024px) {
  .map-container {
    padding: 50px 60px;
  }
  .nearest-station {
    display: none;
  }
}

@media (max-width: 768px) {
  .map-container {
    padding: 50px 40px;
  }
}

@media (max-width: 480px) {
  .map-container {
    padding: 50px 0;
  }

  .map-search-wrapper {
    left: -70px;
  }
}
