.admin-aside {
  background-color: var(--dark-gray-col);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  max-width: 420px;
  width: 100%;
  padding: 60px 0;
}
.admin-aside .intro {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.admin-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 80px;
}
.admin-nav .nav-link {
  width: 100%;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  text-decoration: none !important;
  font-size: var(--font-size-xl);
  font-weight: bold;
}
.admin-nav .nav-link.active,
.admin-nav .nav-link:hover {
  background-color: var(--primary-col);
}
.admin-nav .admin-button {
  margin-top: auto;
}
