.managers-form {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  align-items: end;
  gap: 10px;
  margin-top: 20px;
}
.managers-form .form-inputs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.managers-form .location-input-wrapper {
  position: relative;
}
.managers-form .location-input-wrapper input {
  width: 100%;
}

.managers-form .location-input-wrapper .location-selector {
  width: 32px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  right: 5px;
  top: 50%;
  translate: 0 -50%;
  filter: invert();
}
.managers-form .location-input-wrapper .location-selector:hover {
  opacity: 0.75;
}
.managers-form .upload-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
}
.managers-form .upload-wrapper label {
  width: 100%;
}
.managers-form .upload-wrapper input::-webkit-file-upload-button {
  display: none;
}

@media (max-width: 1024px) {
  .managers-form {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
