.ride-table{
    border-collapse: collapse;
    width: 100%;
    
    font-size: 18px;
  }
  
  .ride-table th, td {
      border: 1px solid #000;
      padding: 8px;
      text-align: left;
    }
  .ride-table th{
      background-color: #3c3c3c;
      color: #66b896;
      
      
  }
  .ride-table td{
      background-color: #505050
  }